<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="lib/angular.min.js"></script> 
 <script type="text/javascript" src="lib/angular-route.min.js"></script>
<script src="JS/SignUp.js"></script>
<!-- <script src="JS/Home.js"></script> -->
	<style>

</style>
</head>
<body  data-ng-app="regmyApp" >

<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign up</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form role="form" data-ng-submit="submit()" action="" data-ng-controller="Registercontroller">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Username" data-ng-model="username" type="text">
			    		    
			    		</div>
			    		
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" data-ng-model="password" type="password" value="">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Address" data-ng-model="address" type="text" value="">
			    		</div>
			    		<div class="form-group">
			    		    <input class="form-control" placeholder="Email" data-ng-model="mail" type="text">
			    		</div>
			    		<div class="form-group">
			    		    <input class="form-control" placeholder="DOB" data-ng-model="dob" type="date">
			    		</div>
			    		<div class="form-group">
			    		    <input class="form-control" placeholder="phone" data-ng-model="mobile" type="text">
			    		</div>
			   			<div class="form-group">
			    		    <input class="form-control" placeholder="Gender" data-ng-model="gender" type="text">
			    		</div>
			   			
			   			    	
			    		    <button  type="submit" >REGISTER</button>
			    		
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>

 <!--  <h3>Login</h3>
  Form to get username & Password
   <form>
      <label>Username </label><input type="text" data-ng-model="username" /><br><br>
      <label>Password </label><input type="password" data-ng-model="password"><br>
      <button  type="submit" data-ng-click="submit()">login</button>
  </form>

Displaying the Array using ng-repeat
  -->
</body>
</html>